<!doctype html>
<html lang="en">
<head>
    <title>lifer agento</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="files/frontend/css/all.css">
    <link rel="icon" type="image/png" href="files/frontend/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="files/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="files/frontend/css/theme-style.css">
</head>
<body>
    <!-- ================================start header============================== -->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="logo__txt text-center"><a href="dashboard.html"><span>Liefer</span>Agento</a></div>
                <div class="single-text"><a href=""><span>L</span>A</a></div>
            </div>
            <div class="l-sidebar__content">
                <nav class="theme-navbar h-100">
                    <div class="scrollable">
                        <ul class="side-navbar m-0 side-menu list-unstyled">
                            <li class=""><a class="d-flex align-items-center" href="dashboard.html" aria-expanded="false"><span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-1.svg"></span><!--<span class="text-toltip text-hidee">Dashboard</span>--><span class="text-hidee">Dashboard </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="merchant-list.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-2.svg"></span><span class="text-hidee">Merchant List </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="cuisine.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-3.svg"></span> <span class="text-hidee">Cuisine </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="dishes.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-4.svg"></span> <span class="text-hidee">Dishes </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="order-status.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-5.svg"></span> <span class="text-hidee">Order Status </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="incoming-orders.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-6.svg"></span> <span class="text-hidee">Incoming Orders </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="cancel-orders.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-7.svg"></span> <span class="text-hidee">Cancel Orders </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="settings.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-8.svg"></span> <span class="text-hidee">Settings </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="manage-location.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-9.svg"></span> <span class="text-hidee">Manage location </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="commission-settings.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-10.svg"></span> <span class="text-hidee">Commission Settings </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="voucher.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-11.svg"></span> <span class="text-hidee">Voucher </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="invoice.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-12.svg"></span> <span class="text-hidee">Invoice </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="withdrawal.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-13.svg"></span> <span class="text-hidee">Withdrawal </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="mail-settings.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-14.svg"></span> <span class="text-hidee">Mail Settings </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="notificaion-template.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-16.svg"></span> <span class="text-hidee">Notificaion Template </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="notification-settings.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-15.svg"></span> <span class="text-hidee">Notification Settings </span></a></li>
                            <li class=""><a class="active d-flex align-items-center" href="email-logs.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-17.svg"></span> <span class="text-hidee">Email Logs </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="cron-jobs.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-18.svg"></span> <span class="text-hidee">Cron jobs </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="custom-age.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-19.svg"></span> <span class="text-hidee">Custom page </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="rating.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-20.svg"></span> <span class="text-hidee">Rating </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="contact-settings.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-21.svg"></span> <span class="text-hidee">Contact Settings </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="social-settings.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-22.svg"></span> <span class="text-hidee">Social Settings </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="manage-currency.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-23.svg"></span> <span class="text-hidee">Manage Currency </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="seo.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-24.svg"></span> <span class="text-hidee">SEO </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="customer-list.html" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-25.svg"></span> <span class="text-hidee">Customer List </span></a></li>
                            <li class=""><a class="d-flex align-items-center" href="" aria-expanded="false"> <span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-26.svg"></span> <span class="text-hidee">Reports </span></a>
                                <ul class="list-unstyled m-0">
                                    <li><a class="" href="registration.html" class=""><span class="img-icon"><img class="icon-bike img-fluid" src="files/frontend/images/sidebar-icn-sub-1.svg" alt=""></span><span class="text-hidee">Merchant Registration</span></a></li>
                                    <li><a href="payments.html" class=""><span class="img-icon"><img class="icon-bike img-fluid" src="files/frontend/images/sidebar-icn-sub-2.svg" alt=""></span><span class="text-hidee">Merchant Payment</span></a></li>
                                    <li><a href="sales-reports.html" class=""><span class="img-icon"><img class="icon-bike img-fluid" src="files/frontend/images/sidebar-icn-sub-3.svg" alt=""></span><span class="text-hidee">Merchant Sales Report</span></a></li>
                                    <li><a href="sales-summary-reports.html" class=""><span class="img-icon"><img class="icon-bike img-fluid" src="files/frontend/images/sidebar-icn-sub-4.svg" alt=""></span><span class="text-hidee">Merchant Sales Summary Report</span></a></li>
                                    <li><a href="booking-summary-reports.html" class=""><span class="img-icon"><img class="icon-bike img-fluid" src="files/frontend/images/sidebar-icn-sub-5.svg" alt=""></span><span class="text-hidee">Booking Summary Report</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="log-out-btn active"><button type="button" class="btn text-center"><span class="img-icon"><img class="icon-bike" src="files/frontend/images/sidebar-icn-27.svg"></span> <span class="text-hidee">Logout </span></button></div>
                    </div>
                </nav>
            </div>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <div class="l-header">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid p-0">
                        <div class="navbar-header w-100 d-flex justify-content-between">
                            <button type="button" id="sidebarCollapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" class="btn text-white"><i class="fas fa-bars"></i></button>
                            <div class="logo__txtt text-center d-sm-block d-lg-none"><a href="dashboard.html"><span>Liefer</span>Agento</a></div>
                            <button class="btn btn-dark d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="badge mr-3 d-none d-xl-block bg-light-warning-bg text-white rounded-border align-items-center">Total Comission $ 181.91</li>
                                <li class="badge mr-3 d-none d-xl-block bg-light-danger-bg text-white rounded-border align-items-center">Commission Today $ 81.91</li>
                                <li class="badge mr-3 d-none d-xl-block bg-light-primary-bg text-white rounded-border align-items-center">Commission last 30 days $ 481.91</li>
                                <li class=""><a href="#" target="_blank" class="btn web-btn rounded-border"><i class="fas fa-globe"></i> View Website</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">ENG </a></li>
                                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" href=""><i class="far fa-user"></i> Login</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href=""><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
                                        <li class="dropdown-divider m-0"></li>
                                        <li><a class="dropdown-item" href=""><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="l-main">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="content-wrapper-content">
                            <div class="row align-items-center">
                                <div class="col-xl-8 col-lg-8 col-md-6 col-6">
                                    <h4>Email Logs</h4>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-6 text-right">
                                    <div class="dropdown">
                                        <button class="btn btn-theme rounded-border dropdown-toggle p-l-25 p-r-25" type="button"data-toggle="dropdown">en</button>
                                        <div class="dropdown-menu">
                                            <li><a href="" class="d-block p-l-15 p-r-15"><img class="flags" src="files/frontend/images/flags-de-1.png" alt="de" title="de"> de</a></li>
                                            <li><a href="" class="d-block p-l-15 p-r-15"><img class="flags" src="files/frontend/images/flags-de-2.png" alt="de" title="de"> en</a></li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-10">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="row align-items-center">
                                            <div class="col-xl-9 col-lg-8">
                                                <form class="form-inline">
                                                    <div class="form-group">
                                                        <small class="text-muted mr-3">Show</small>
                                                        <select class="form-control rounded-border">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                        <small class="text-muted ml-3">Entries</small>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-xl-3 col-lg-4">
                                                <form class="form-group m-0">
                                                    <input type="text" placeholder="Search" name="" class="form-control rounded-border">
                                                    <button type="submit" class="btn btn-theme rounded-border"><i class="fas fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                            <div class="table-responsive-sm table-responsive">
                                                <table class="table table-striped not-border">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Ref#</th>
                                                        <th scope="col">To</th>
                                                        <th scope="col">Sender</th>
                                                        <th scope="col">Subject</th>
                                                        <th scope="col">Content</th>
                                                        <th scope="col">Provider</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Date</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">06</th>
                                                            <td>10mrohit307@gmail.com</td>
                                                            <td>rohit.99grapes@gmail.com</td>
                                                            <td>Account Status Updated</td>
                                                            <td><a href="" class="text-light-primary">View content</a></td>
                                                            <td>phpmail</td>
                                                            <td><a href="" class="text-light-success">Sent</a></td>
                                                            <td>Oct 16,2018 7:41:45</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">06</th>
                                                            <td>10mrohit307@gmail.com</td>
                                                            <td>rohit.99grapes@gmail.com</td>
                                                            <td>Account Status Updated</td>
                                                            <td><a href="" class="text-light-primary">View content</a></td>
                                                            <td>phpmail</td>
                                                            <td><a href="" class="text-light-success">Sent</a></td>
                                                            <td>Oct 16,2018 7:41:45</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">06</th>
                                                            <td>10mrohit307@gmail.com</td>
                                                            <td>rohit.99grapes@gmail.com</td>
                                                            <td>Account Status Updated</td>
                                                            <td><a href="" class="text-light-primary">View content</a></td>
                                                            <td>phpmail</td>
                                                            <td><a href="" class="text-light-success">Sent</a></td>
                                                            <td>Oct 16,2018 7:41:45</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">06</th>
                                                            <td>10mrohit307@gmail.com</td>
                                                            <td>rohit.99grapes@gmail.com</td>
                                                            <td>Account Status Updated</td>
                                                            <td><a href="" class="text-light-primary">View content</a></td>
                                                            <td>phpmail</td>
                                                            <td><a href="" class="text-light-success">Sent</a></td>
                                                            <td>Oct 16,2018 7:41:45</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer pagination-all">
                                        <div class="row align-items-center">
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <p>Showing <strong>1</strong> to <strong>10</strong> of <strong>633</strong> entries</p>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6">
                                                <ul class="m-0 d-flex justify-content-end">
                                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-center align-items-center">
                        <div class="col-xl-12">
                            <p>© 2020 LieferAgento. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="files/frontend/js/jquery.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="files/frontend/js/bootstrap.bundle.js"></script>
    <!-- main js -->
    <script src="files/frontend/js/main.js"></script>
    <!-- chart js -->
</body>
</html>